[name="template"] {
  font-family: monospace;
}

body {
  background-color: #FFEBC2;
}

.crossword {
  display: flex;
  flex-direction: column;
  align-items: center;  

  table {
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    
    &.black {
      background-color: black;
    }
    
    &.outside {
      border: none;
    }
    
    &.empty {
      background-color: white;
    }

    &.active {
      background-color: #80B3FF;
    }

    &.active-word {
      background-color: #B3D0FF;
    }

    &.passive-word {
      background-color: #E6F0FF;
    }
    
    .number {
      position: absolute;
      left: 1px;
      top: 1px;
      font-size: smaller;
    }
  }

  .clues {
    max-width: 400px;
    border: 1px solid black;

    .active-word {
      color: #006DFF;
    }

    .passive-word {
      color: #0051FF
    }
  }
}
