[name='template'] {
  font-family: monospace;
}

body {
  align-items: center;
  background-color: #ffebc2;
  display: flex;
  flex-direction: column;
}

[dir='rtl'] {
  .number {
    right: 1px;
  }

  .word-boundary-across {
    border-left-width: 3px;
  }
}

[dir='ltr'] {
  .number {
    left: 1px;
  }

  .word-boundary-across {
    border-right-width: 3px;
  }
}

.crossword {
  border-collapse: collapse;

  td {
    border: 1px solid black;
    height: 30px;
    position: relative;
    text-align: center;
    width: 30px;

    .number {
      font-size: smaller;
      position: absolute;
      top: 1px;
    }
  }

  .black {
    background-color: black;
  }

  .outside {
    border: 0px;
  }

  .empty {
    background-color: white;
  }

  .active-word {
    background-color: #b3d0ff;
  }

  .passive-word {
    background-color: #e6f0ff;
  }

  .active {
    background-color: #80b3ff;
  }

  .word-boundary-down {
    border-bottom-width: 3px;
  }
}

.clues {
  border: 1px solid black;
  max-width: 400px;
  padding: 10px;

  b {
    display: block;
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .active-word {
    color: #0000ff;
  }

  .passive-word {
    color: #8080ff;
  }

  .clue {
    cursor: hand;

    &:hover {
      color: red;
    }
  }
}

.clue-letters {
    width: 50px;
}
