<link rel="stylesheet" href="/style/style.css">
<script src="/js/crossword.js"></script>

<div class="crossword">
  <h1>Joey's awesome crossword app™</h1>
  <table>
    {% for row in puzzle.cells %}
      <tr>
        {% for cell in row %}
          {% if cell.type == cellType.black %}
            <td class="black"></td>
          {% elif cell.type == cellType.outside %}
            <td class="outside"></td>
          {% else %}
            <td class="empty 
              {% for clue in cell.clues %}
                {{ clue.number }}{{ clue_direction[clue.direction] }}
              {% endfor %}
              " data-row="{{cell.position.row}}" data-col="{{cell.position.col}}">
              {% if cell.number != undefined %}
                <div class="number">{{ cell.number }}</div>
              {% endif %}
              <span class="solution">{{ cell.solution }}</span>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <div class="clues">
    <b>Across:</b>
    {% for clue in puzzle.clues %}
      {% if clue.direction == clue_direction.across %}
        <span class="{{ clue.number }}across">
          {{ clue.number }}. {{ clue.clue if clue.clue else "No clue given." }}
        </span>
      {% endif %}
    {% endfor %}
    <br />
    <b>Down:</b>
    {% for clue in puzzle.clues %}
      {% if clue.direction == clue_direction.down %}
        <span class="{{ clue.number }}down">
          {{ clue.number }}. {{ clue.clue if clue.clue else "No clue given." }}
        </span>
      {% endif %}
    {% endfor %}
</div>
</div>
